.modal-content {
  max-height: 1000px;
  overflow: scroll;
}

.reducir{
	margin-top:-15px;
}
.reducir-dos{
	margin-top:1px;
}
.modall{
border-bottom: 0px;
}

#columna{
	margin-right: 10px;
}

#separar{
	margin-bottom: 10px;
	width: 50%;
}

#columna-boton{
	margin-right: 15px;
	margin-left: 10px;
}
#btnAsignar{
	margin-top: 30px;
}
#principal{
	text-align: center;
}

.modal-centrado{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	margin-bottom: -10px;
	text-align: left;
}

.left-bottom{
	margin-right: 520px;
}

.left-h5{
	margin-right: 480px;
}	

.left-h3{
	margin-right: 500px;
	text-align: center;
}
.campo{
	margin-left: 33px;
}		
